<div class="container my-3">
    <h1>{{this.title}}</h1>
    <p class="text-muted">Published: {{formatDate this.published}}</p>
    <hr>
    {{{this.content}}}
</div>

<script>
    document.title = '{{this.title}} | HuntingCoder'
</script>
